.anatomy-container {
  position: relative;
  width: 250px; 
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #fdfdfd;
  border-radius: 10px;
}

.anatomy-image {
  width: 100%;
  display: block;
}

.marker {
  position: absolute;
}

.marker-box {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.heart {
  top: 120px;
  left: 150px;
}

.lungs {
  top: 135px;
  left: 85px;
}

.bone {
  top: 250px;
  left: 140px;
}
